Source: ocaml-typography
Section: ocaml
Priority: extra
Maintainer: Pierre-Etienne Meunier <pierreetienne.meunier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cdbs, dh-ocaml, ocaml-base-nox, ocaml-findlib, ocaml-base-nox, libdypgen-ocaml-dev, libcamomile-ocaml-dev, ocaml-findlib
Standards-Version: 3.8.4
Homepage: http://www.lama.univ-savoie.fr/~meunier/texprime

Package: texprime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ocaml-base-nox, libdypgen-ocaml-dev, libcamomile-ocaml-dev, ocaml-findlib
Description: A preprocessor of txp files


Package: libtypography-ocaml-dev
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}, ocaml-base-nox, libdypgen-ocaml-dev, libcamomile-ocaml-dev, ocaml-findlib
Description: A library of typographic primitives for ocaml
